// Element sizes
// ------------------------------------

$mainmenu: 70px;
$submenu:  230px;
$sidebar:  300px;
$topbar:   50px;

$base-spacing: 1.5em !default;
$base-transition-length: 0.1s !default;
$padding: 15px;

// Typography
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);
$base-font-size: 13px !default;
$base-line-height: 1.5em !default;
$base-line-width: 55em !default;
$font-weight-bold: 700;
$font-weight-normal: 400;
$header-font: 'Montserrat', sans-serif;
$body-font: 'Open Sans', sans-serif;
$sans-serif: $body-font;
$serif: serif;


// Default colors
// ------------------------------------

$accent-color:           #ffffff !default;
$body-color:             #000000 !default;
$base-border-color:      #555555 !default;
$secondary-border-color: transparentize($base-border-color, 0.5);
$base-font-color:        #999999 !default;
$base-link-color:        #ffffff !default;
$error-color:            #fbe3e4 !default;
$info-color:             #e5edf8 !default;
$input-background-color: #1e1e1e !default;
$input-text-color:       $base-font-color;
$mainmenu-color:         #111111 !default;
$submenu-color:          #222222 !default;
$success-color:          #e6efc2 !default;
$warning-color:          #fff6bf !default;
