// MOBILE
// ------------------------------------

#content {
  @include display(flex);
  @include flex(1);
  @include flex-direction(column);

  padding: $padding;
}


main {
  @include display(flex);
  @include flex(1);
  @include flex-direction(column);

  h1 {
    margin-bottom: 0.9em;
  }

  & > section {
    margin: 0 auto;
    max-width: 720px;
    width: 100%;

    &.full {
      max-width: none;
    }
  }

  .center {
    @include align-items(center);
    @include display(flex);
    @include flex(1);
    @include justify-content(center);
  }

  nav.actions {
    text-align: center;
    text-transform: uppercase;
  }

}


// 480 PX
// ------------------------------------

@media only screen and (min-width: 480px) {

}


// 768 PX
// ------------------------------------

@media only screen and (min-width: 768px) {

}


// 1024 PX
// ------------------------------------

@media only screen and (min-width: 1024px) {

}
