// MOBILE
// ------------------------------------

section.events {
  .event {
    border-top: 1px solid $secondary-border-color;
    margin: 5px 0;
  }

  .event:first-child {
    border-top: none;
  }

  .event__city {
    float: right;
  }

  .media__image {
    max-height: 120px;
    width: 120px;

    &:hover {
      overflow: visible;
    }
    &:empty {}
  }
}

.events--list {
  .date {
    float: right;
  }
}

section.event {
  max-width: $base-line-width;

  header {
    text-align: center;
    text-transform: uppercase;

    h1,
    h2 {
      color: $accent-color;
    }
    h1 {
      font-size: 2em;
      line-height: 1em;
    }

    img {
      height: auto;
      width: 100%;
    }
  }

  footer {

  }
}


// 480 PX
// ------------------------------------

@media only screen and (min-width: 480px) {

}


// 768 PX
// ------------------------------------

@media only screen and (min-width: 768px) {

}


// 1024 PX
// ------------------------------------

@media only screen and (min-width: 1024px) {

}
