$active-input-background-color: lighten($input-background-color, 5%);

// MOBILE
// ------------------------------------

input,
textarea {
  background: $input-background-color;
  border: 0;
  outline: none;
  padding: ($base-spacing / 3);

  @include placeholder {
    color: transparentize($base-font-color, 0.5);
    font-style: italic;
  }

  &:active,
  &:focus {
    background-color: $active-input-background-color;
  }

  &:hover {
    @include placeholder {
      color: transparentize($base-font-color, 0.25);
    }
  }

  &.input__field--error {
    border-bottom: 2px solid $error-color;
  }
}


.input {
  @include display(flex);
  @include flex(1);
  @include flex-flow(row wrap);

  margin-bottom: $base-spacing;
  position: relative;

  .input__addon {
    color: transparentize($base-font-color, 0.5);
    line-height: $base-line-height;
    padding: ($base-spacing / 3) 0 ($base-spacing / 3) ($base-spacing / 3);
    position: absolute;

    &.fa {
      text-align: center;
      width: 2em;
    }

    & + .input__field {
      padding-left: 2em + ($base-spacing / 3);
    }
  }

  .input__field {
    @include flex(1);

    & + button.input__addon {
      background: lighten($input-background-color, 5%);
      border: 0;
      padding: ($base-spacing / 3) ($base-spacing / 2);
      position: inherit;
    }
  }

  .input__message {
    color: transparentize($base-font-color, 0.5);
    flex: 1 100%;
    margin: ($base-spacing / 3) 0 ($base-spacing / 3) ($base-spacing / 3);
  }

  &.input--error {
    .input__field {
      border-bottom: 2px solid darken($error-color, 60%);;
    }

    .input__message {
      color: darken($error-color, 60%);
    }
  }
}


.form--horizontal {
  @include display(flex);

  .input {
    margin-bottom: 0;
  }
}


// 480 PX
// ------------------------------------

@media only screen and (min-width: 480px) {

}


// 768 PX
// ------------------------------------

@media only screen and (min-width: 768px) {

}


// 1024 PX
// ------------------------------------

@media only screen and (min-width: 1024px) {

}
