// MOBILE
// ------------------------------------

body {
  @include display(flex);

  background: $body-color;
  color: $base-font-color;
  font-family: $body-font;
  font-weight: $font-weight-normal;
  font-size: $base-font-size;
  line-height: $base-line-height;
  min-height: 100vh;
}

a {
  color: $base-link-color;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.link--secondary {
    color: $base-font-color;
    text-decoration: underline;

    &:hover {
      color: $base-link-color;
    }
  }
}

h1 {
  font-family: $header-font;
  font-size: 1.5em;
  font-weight: $font-weight-bold;

  margin-bottom: 0.3em;

  small {
    color: $secondary-font-color;
  }

}

article h1 {
  font-size: 1.3em;
}

h2 {
  font-family: $header-font;
  font-size: 1.3em;
  font-weight: $font-weight-normal;
  line-height: 1.25em;

  margin-bottom: 0.9em;
}

h3 {
  font-family: $header-font;
  font-size: 1.4em;
  font-style: italic;
  font-weight: $font-weight-normal;
  line-height: 1.3em;

  margin-bottom: 0.4em;
}

hr {
  border: solid $secondary-border-color;
  border-width: 1px 0 0 0;
  margin: $base-spacing;
}

.date {
  color: transparentize($base-font-color, 0.6);
  font-style: italic;
}

.media {
  @include display(flex);
  @include align-items(flex-start);

  .media__image {
    margin: ($base-spacing / 2) $base-spacing 0 0;
    overflow: hidden;

    img {
      display: block;
      height: auto;
      width: 100%;
    }
  }

  .media__body {
    @include flex(1);
  }
}

.meta {
  color: $secondary-font-color;
  font-style: italic;
  margin-bottom: 0.3em;
}

.left {
  float: left;
}

.right {
  float: right;
}

.separator {
  display: block;
  font-variant: small-caps;
  margin: $base-spacing 0;
  overflow: hidden;
  text-align: center;

  &:before, &:after {
    background-color: $secondary-border-color;
    content: '';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &:before {
    right: 0.5em;
    margin-left: -50%;
  }

  &:after {
    left: 0.5em;
    margin-right: -50%;
  }
}


// 480 PX
// ------------------------------------

@media only screen and (min-width: 480px) {

}


// 768 PX
// ------------------------------------

@media only screen and (min-width: 768px) {

}


// 1024 PX
// ------------------------------------

@media only screen and (min-width: 1024px) {

}
