// MOBILE
// ------------------------------------

#mainmenu {
  background: $mainmenu-color;

  .brand {
    height: $topbar;
    text-align: center;

    a { display: block; }
    img { @include size($topbar - $padding); }
  }

  ul li a {
    color: $base-font-color;
    display: block;
    margin-bottom: $base-spacing;
    position: relative;
    text-decoration: none;
    width: 100%;

    &:before {
      font-family: 'FontAwesome';
      font-size: 24px;
      line-height: 36px;
      display: block;
    }

    &:hover { color: $base-link-color; }
  }

  ul li.active a { color: $base-link-color; }

  .menu-home a:before { content: "\f015"; }
  .menu-events a:before { content: "\f073"; }

  .language {
    border-top: 1px solid $secondary-border-color;
    margin: $padding / 2;
    padding: $padding / 2 0;
    text-align: center;
  }
}


// 480 PX
// ------------------------------------

@media only screen and (min-width: 480px) {

}


// 768 PX
// ------------------------------------

@media only screen and (min-width: 768px) {

  #mainmenu {
    @include flex(0 0 $mainmenu);

    .wrapper {
      @include position(fixed, 0 null null 0);

      padding-top: $padding;
      width: $mainmenu;
    }

    border-right: 1px solid $base-border-color;

    ul { text-align: center; }
  }

}


// 1024 PX
// ------------------------------------

@media only screen and (min-width: 1024px) {

}
