// MOBILE
// ------------------------------------

#submenu {
  background: $submenu-color;
  padding: $padding;

  .brand {
    border-bottom: 1px solid $base-border-color;
    color: $base-link-color;
    font-weight: $font-weight-bold;
    height: $topbar - $padding;
    line-height: 1em;

    small {
      color: $base-font-color;
    }
  }

/*  section {
    border-top: 1px solid $secondary-border-color;
    margin: 5px 0;
  }*/

  a {
    color: $base-font-color;

    &:hover {
      color: $base-link-color;
    }
  }

  h2 {
    color: $base-link-color;
  }

  ol {
    list-style: none;
    padding: 0;
  }

  li {
    display: inherit;
  }

  ul li {
    font-weight: $font-weight-bold;

    a {
      color: $base-font-color;
      display: block;
      text-decoration: none;

      .fa {
        float: right;
      }
    }

    a:hover,
    &.active a { color: $base-link-color; }
  }

}

// 480 PX
// ------------------------------------

@media only screen and (min-width: 480px) {

}


// 768 PX
// ------------------------------------

@media only screen and (min-width: 768px) {

  #submenu {
    @include flex(0 0 $submenu);

    border-right: 1px solid $base-border-color;

    .wrapper {
    }

  }

}


// 1024 PX
// ------------------------------------

@media only screen and (min-width: 1024px) {

}
