// MOBILE
// ------------------------------------

#submenu {
  background: $submenu-color;
  padding: $padding;

  .brand {
    border-bottom: 1px solid $base-border-color;
    color: $base-link-color;
    font-weight: $font-weight-bold;
    height: $topbar - $padding;
    line-height: 1em;

    small {
      color: $base-font-color;
    }
  }

  a {
    color: $base-font-color;

    &:hover {
      color: $base-link-color;
    }
  }
}

// 480 PX
// ------------------------------------

@media only screen and (min-width: 480px) {

}


// 768 PX
// ------------------------------------

@media only screen and (min-width: 768px) {

  #submenu {
    @include position(fixed, 0 null null $mainmenu);
    width: $submenu;
    height: 100%;

    border-right: 1px solid $base-border-color;
  }

}


// 1024 PX
// ------------------------------------

@media only screen and (min-width: 1024px) {

}
