// MOBILE
// ------------------------------------

#topbar {
  @include display(flex);

  border-bottom: 1px solid $base-border-color;

  .search {
    @include flex(1);
  }

  .session {
    margin-left: $base-spacing;
  }
}


// 480 PX
// ------------------------------------

@media only screen and (min-width: 480px) {

}


// 768 PX
// ------------------------------------

@media only screen and (min-width: 768px) {

  #topbar {
    height: $topbar - $padding;
    line-height: $topbar - $padding;
  }

}


// 1024 PX
// ------------------------------------

@media only screen and (min-width: 1024px) {

}
