title = "Flyers"
url = "/flyers/:year?|^[0-9]+$/:month?|^[01]?[0-9]$"
layout = "default"
description = "Flyer galleries."
is_hidden = 0

[galleryFlyers]
listType = "new_flyers"
month = "{{ :month }}"
year = "{{ :year }}"

[galleryFlyerPerMonth]
flyersPage = "galleries/flyers"
month = "{{ :month }}"
year = "{{ :year }}"
==
<?php
function onInit() {
    $this['activeMenuItem'] = 'galleries';
}
?>
==
{% put submenu %}
    {% partial 'galleries/submenu' activeMenuItem='flyers' %}
{% endput %}

{% put topbar %}
    {% partial 'galleries/search' search='flyers' %}
{% endput %}


{% component 'galleryFlyerPerMonth' %}

<h1>
    {{ input('search') ? "'" ~ input('search') ~ "' - " }}

    {% if year %}
        {{ month ? (year ~ '-' ~ month)|strftime('%B %Y') : year }}
    {% else %}
        {{ 'Latest flyers'|_ }}
    {% endif %}

    {% if flyers.total %}
        <small>({{ flyers.total|number_format }})</small>
    {% endif %}
</h1>

{% component 'galleryFlyers' %}
