@import url(https://fonts.googleapis.com/css?family=Montserrat:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  background: #000000;
  color: #999999;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5em;
  min-height: 100vh; }

a {
  color: #ffffff;
  cursor: pointer;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a.link--secondary {
    color: #999999;
    text-decoration: underline; }
    a.link--secondary:hover {
      color: #ffffff; }

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 0.3em; }

article h1 {
  font-size: 1.3em; }

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.25em;
  margin-bottom: 0.9em; }

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4em;
  font-style: italic;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 0.4em; }

hr {
  border: solid rgba(85, 85, 85, 0.5);
  border-width: 1px 0 0 0;
  margin: 1.5em; }

.date {
  color: rgba(153, 153, 153, 0.4);
  font-style: italic; }

.media {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-align: start; }
  .media .media__image {
    margin: 0.75em 1.5em 0 0;
    overflow: hidden; }
    .media .media__image img {
      display: block;
      height: auto;
      width: 100%; }
  .media .media__body {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1; }

.meta {
  color: rgba(153, 153, 153, 0.4);
  font-style: italic;
  margin-bottom: 0.3em; }

.left {
  float: left; }

.right {
  float: right; }

.separator {
  display: block;
  font-variant: small-caps;
  margin: 1.5em 0;
  overflow: hidden;
  text-align: center; }
  .separator:before, .separator:after {
    background-color: rgba(85, 85, 85, 0.5);
    content: '';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%; }
  .separator:before {
    right: 0.5em;
    margin-left: -50%; }
  .separator:after {
    left: 0.5em;
    margin-right: -50%; }

nav ul {
  margin: 0;
  padding: 0; }

nav ul li {
  display: inline; }

.pagination {
  text-align: center; }

ul.pagination {
  display: inline;
  margin: 0;
  padding: 0; }
  ul.pagination li {
    display: inline;
    list-style: none; }
    ul.pagination li.active {
      font-size: 1.1em;
      font-weight: 700;
      line-height: 0.95em; }

button, .button {
  -webkit-transition: background 0.1s ease-in-out, border 0.1s ease-in-out;
  -moz-transition: background 0.1s ease-in-out, border 0.1s ease-in-out;
  transition: background 0.1s ease-in-out, border 0.1s ease-in-out;
  background: none;
  border: 1px solid #555555;
  color: #ffffff;
  display: inline-block;
  padding: 0.5em 0.5em;
  text-align: center; }
  button:hover, .button:hover {
    border-color: #959595;
    text-decoration: none; }
  button.button--primary, .button.button--primary {
    background: #ffffff;
    color: #000000;
    border: none; }
    button.button--primary:hover, .button.button--primary:hover {
      background: #bfbfbf; }
  button.button--close, .button.button--close {
    border: 0 none; }
  button[disabled], button.button--disabled, .button[disabled], .button.button--disabled {
    cursor: default; }
  button.button--full, .button.button--full {
    width: 100%; }

input,
textarea {
  background: #1e1e1e;
  border: 0;
  outline: none;
  padding: 0.5em; }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: rgba(153, 153, 153, 0.5);
    font-style: italic; }
  input::-moz-placeholder,
  textarea::-moz-placeholder {
    color: rgba(153, 153, 153, 0.5);
    font-style: italic; }
  input:-moz-placeholder,
  textarea:-moz-placeholder {
    color: rgba(153, 153, 153, 0.5);
    font-style: italic; }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: rgba(153, 153, 153, 0.5);
    font-style: italic; }
  input:hover::-webkit-input-placeholder,
  textarea:hover::-webkit-input-placeholder {
    color: rgba(153, 153, 153, 0.75); }
  input:hover::-moz-placeholder,
  textarea:hover::-moz-placeholder {
    color: rgba(153, 153, 153, 0.75); }
  input:hover:-moz-placeholder,
  textarea:hover:-moz-placeholder {
    color: rgba(153, 153, 153, 0.75); }
  input:hover:-ms-input-placeholder,
  textarea:hover:-ms-input-placeholder {
    color: rgba(153, 153, 153, 0.75); }
  input.input__field--error,
  textarea.input__field--error {
    border-bottom: 2px solid #fbe3e4; }

.input {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-bottom: 1.5em; }
  .input .input__addon {
    color: rgba(153, 153, 153, 0.5);
    line-height: 1.5em;
    padding: 0.5em 0 0.5em 0.5em;
    position: absolute; }
    .input .input__addon.fa {
      text-align: center;
      width: 2em; }
    .input .input__addon + .input__field {
      padding-left: 2.5em; }
  .input .input__field {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .input .input__message {
    color: rgba(153, 153, 153, 0.5);
    flex: 1 100%;
    margin: 0.5em 0 0.5em 0.5em; }
  .input.input--error .input__field {
    border-bottom: 2px solid #97161b; }
  .input.input--error .input__message {
    color: #97161b; }

.table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%; }
  .table th,
  .table td {
    border-bottom: 0;
    padding: 0.75em 1.5em;
    vertical-align: top; }
    .table th > *:first-child,
    .table td > *:first-child {
      margin-top: 0; }
    .table th > *:last-child,
    .table td > *:last-child {
      margin-bottom: 0; }
  .table thead th {
    text-align: left; }
  .table tbody tr:hover > td,
  .table tbody tr:hover > th {
    background-color: rgba(128, 128, 128, 0.1); }
  .table tbody tr:first-child td {
    border-top: 2px solid rgba(85, 85, 85, 0.5); }
  .table tbody td,
  .table tbody th {
    border-top: 1px solid rgba(85, 85, 85, 0.5);
    line-height: 1.5em; }
  .table .table__count {
    text-align: right; }
  .table.table--condensed th > *,
  .table.table--condensed td > * {
    margin: 0; }

#alerts {
  margin: 1.5em 0;
  padding: 0 1.5em 0 0;
  position: fixed;
  width: 100%; }
  #alerts:empty {
    display: none; }

.alert {
  display: block;
  margin: 0 auto 0.75em;
  max-width: 320px;
  padding: 0.75em;
  position: relative;
  text-align: center; }
  .alert.alert--error {
    background-color: #fbe3e4;
    color: #97161b; }
    .alert.alert--error a,
    .alert.alert--error button {
      color: #6a0f13; }
      .alert.alert--error a:hover,
      .alert.alert--error button:hover {
        color: #110203; }
  .alert.alert--info {
    background-color: #e5edf8;
    color: #244e87; }
    .alert.alert--info a,
    .alert.alert--info button {
      color: #19375f; }
      .alert.alert--info a:hover,
      .alert.alert--info button:hover {
        color: #04080e; }
  .alert.alert--success {
    background-color: #e6efc2;
    color: #56651a; }
    .alert.alert--success a,
    .alert.alert--success button {
      color: #333c10; }
      .alert.alert--success a:hover,
      .alert.alert--success button:hover {
        color: black; }
  .alert.alert--warning {
    background-color: #fff6bf;
    color: #8c7800; }
    .alert.alert--warning a,
    .alert.alert--warning button {
      color: #594c00; }
      .alert.alert--warning a:hover,
      .alert.alert--warning button:hover {
        color: black; }
  .alert .button--close {
    position: absolute;
    top: 0.25em;
    right: 0.25em; }

.grid__item {
  float: left;
  overflow: hidden; }

#mainmenu {
  background: #111111; }
  #mainmenu .brand {
    height: 50px;
    text-align: center; }
    #mainmenu .brand a {
      display: block; }
    #mainmenu .brand img {
      height: 35px;
      width: 35px; }
  #mainmenu ul li a {
    color: #999999;
    display: block;
    margin-bottom: 1.5em;
    position: relative;
    text-decoration: none;
    width: 100%; }
    #mainmenu ul li a:before {
      font-family: 'FontAwesome';
      font-size: 24px;
      line-height: 36px;
      display: block; }
    #mainmenu ul li a:hover {
      color: #ffffff; }
  #mainmenu ul li.active a {
    color: #ffffff; }
  #mainmenu .menu-home a:before {
    content: "\f015"; }
  #mainmenu .menu-events a:before {
    content: "\f073"; }
  #mainmenu .menu-forum a:before {
    content: "\f086"; }
  #mainmenu .menu-galleries a:before {
    content: "\f083"; }
  #mainmenu .language {
    border-top: 1px solid rgba(85, 85, 85, 0.5);
    margin: 7.5px;
    padding: 7.5px 0;
    text-align: center; }

@media only screen and (min-width: 768px) {
  #mainmenu {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 70px;
    -moz-flex: 0 0 70px;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    border-right: 1px solid #555555; }
    #mainmenu ul {
      text-align: center; }
    #mainmenu .wrapper {
      position: fixed;
      top: 0;
      left: 0;
      padding-top: 15px;
      width: 70px; } }

#submenu {
  background: #222222;
  padding: 15px;
  /*  section {
    border-top: 1px solid $secondary-border-color;
    margin: 5px 0;
  }*/ }
  #submenu .brand {
    border-bottom: 1px solid #555555;
    color: #ffffff;
    font-weight: 700;
    height: 35px;
    line-height: 1em; }
    #submenu .brand small {
      color: #999999; }
  #submenu a {
    color: #999999; }
    #submenu a:hover {
      color: #ffffff; }
  #submenu h2 {
    color: #ffffff; }
  #submenu ol {
    list-style: none;
    padding: 0; }
  #submenu ul li {
    font-weight: 700; }
    #submenu ul li a {
      color: #999999;
      display: block;
      text-decoration: none; }
      #submenu ul li a .fa {
        float: right; }
    #submenu ul li a:hover,
    #submenu ul li.active a {
      color: #ffffff; }

@media only screen and (min-width: 768px) {
  #submenu {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 230px;
    -moz-flex: 0 0 230px;
    -ms-flex: 0 0 230px;
    flex: 0 0 230px;
    border-right: 1px solid #555555; } }

#topbar {
  border-bottom: 1px solid #555555; }

@media only screen and (min-width: 768px) {
  #topbar {
    height: 35px; } }

#content {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  padding: 15px; }

main {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column; }
  main h1 {
    margin-bottom: 0.9em; }
  main > section {
    margin: 0 auto; }
    main > section.full {
      width: 100%; }
  main .center {
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }

#sidebar {
  padding: 15px; }

#login,
#password,
#register {
  width: 280px; }

section.events .event {
  border-top: 1px solid rgba(85, 85, 85, 0.5);
  margin: 5px 0; }

section.events .event:first-child {
  border-top: none; }

section.events .event__city {
  float: right; }

section.events .media__image {
  max-height: 120px;
  width: 120px; }
  section.events .media__image:hover {
    overflow: visible; }

.events--list .date {
  float: right; }

section.event {
  max-width: 55em; }
  section.event header {
    text-align: center;
    text-transform: uppercase; }
    section.event header h1,
    section.event header h2 {
      color: #ffffff; }
    section.event header h1 {
      font-size: 2em;
      line-height: 1em; }
    section.event header img {
      height: auto;
      width: 100%; }
    section.event header button {
      text-transform: uppercase; }

.forum-post {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.forum-post__author {
  width: 200px; }

.forum-post__content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.flyers.grid .grid__item {
  height: 0;
  width: 25%;
  padding-top: 25%;
  position: relative;
  text-align: center;
  text-transform: uppercase; }
  .flyers.grid .grid__item a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-transition: background-position 0.25s ease-in-out;
    -moz-transition: background-position 0.25s ease-in-out;
    transition: background-position 0.25s ease-in-out;
    background-position: 50% 33%;
    background-size: cover;
    display: block; }
    .flyers.grid .grid__item a:hover {
      background-position: 75% 66%; }
    .flyers.grid .grid__item a h2 {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      -webkit-transition: top 0.25s ease-in-out;
      -moz-transition: top 0.25s ease-in-out;
      transition: top 0.25s ease-in-out;
      background: rgba(0, 0, 0, 0.5);
      height: 50%;
      margin: 0;
      padding: 0.75em; }
    .flyers.grid .grid__item a:hover h2 {
      top: 50%; }
