.table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%; }
  .table th,
  .table td {
    border-bottom: 0;
    padding: 0.25em 0.5em;
    vertical-align: top; }
    .table th > *:first-child,
    .table td > *:first-child {
      margin-top: 0; }
    .table th > *:last-child,
    .table td > *:last-child {
      margin-bottom: 0; }
  .table thead th {
    text-align: left; }
  .table tbody tr:hover > td,
  .table tbody tr:hover > th {
    background-color: rgba(128, 128, 128, 0.1); }
  .table tbody tr:first-child td {
    border-top: 2px solid #e9eaed; }
  .table tbody td,
  .table tbody th {
    border-top: 1px solid #e9eaed;
    line-height: 1.5em; }
  .table .table__count {
    text-align: right; }
  .table.table--condensed th > *,
  .table.table--condensed td > * {
    margin: 0; }

body {
  color: #4e5665;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5em; }

a {
  color: #3b5998;
  cursor: pointer;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a.link--secondary {
    color: #4e5665;
    text-decoration: underline; }
    a.link--secondary:hover {
      color: #3b5998; }

th {
  background: #f6f7f8;
  color: #9197a3;
  font-size: 0.9em;
  font-weight: normal;
  line-height: 2em;
  text-transform: uppercase; }

.date {
  white-space: nowrap; }

.event {
  font-weight: bold; }

.city {
  color: #9197a3; }
