<section id="register">
    <h1>Register</h1>
    <form data-request="onRegister">

        <div class="input">
            <i class="input__addon fa fa-envelope-o"></i>
            <input
                name="email"
                type="email"
                class="input__field"
                placeholder="Enter your email" />
        </div>

        <div class="input">
            <i class="input__addon fa fa-user"></i>
            <input
                name="username"
                type="text"
                class="input__field"
                placeholder="Choose a username" />
        </div>

        <div class="input">
            <i class="input__addon fa fa-lock"></i>
            <input
                name="password"
                type="password"
                class="input__field"
                placeholder="Choose a password" />
        </div>

        <button type="submit" class="button button--primary button--full">Register</button>
    </form>
    <br>
    <a class="link--secondary" href="{{ 'login'|page }}">Login</a>
</section>
