[FacebookConnect]
security = "all"

[viewBag]
==
<section id="login">
    {% component 'FacebookConnect' %}

    <span class="separator">or</span>

    <form data-request="{{ __SELF__ }}::onSignin">

        <div class="input">
            <i class="input__addon fa fa-user"></i>
            <input
                name="login"
                type="text"
                class="input__field"
                id="loginLogin"
                placeholder="Username" />
        </div>

        <div class="input">
            <i class="input__addon fa fa-lock"></i>
            <input
                name="password"
                type="password"
                class="input__field"
                id="loginPassword"
                placeholder="Password" />
        </div>

        <button type="submit" class="button button--full">Login with username</button>
    </form>
    <br>
    <a class="link--secondary right" href="{{ 'register'|page }}">Register</a>
    <a class="link--secondary" href="{{ 'password'|page }}">Forgot password</a>
</section>
