[viewBag]
==
<form data-request="{{ __SELF__ }}::onSignin">

    <div class="input">
        <i class="input__addon fa fa-user"></i>
        <input
            name="login"
            type="text"
            class="input__field"
            placeholder="{{ 'Username'|_ }}" />
    </div>

    <div class="input">
        <i class="input__addon fa fa-lock"></i>
        <input
            name="password"
            type="password"
            class="input__field"
            placeholder="{{ 'Password'|_ }}" />
    </div>

    <button type="submit" class="button button--full">{{ 'Login with username'|_ }}</button>
</form>
