description = "Default layout"

[staticMenu mainmenu]
code = "main-menu"

[session]
security = "all"
==
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text-html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="{{ [
            'assets/css/app.css'
        ]|theme }}" rel="stylesheet">

        {% styles %}

        {% placeholder head %}

        <title>{{ this.page.title }}</title>
    </head>

    <body>

        <nav id="mainmenu">
            <div class="brand"></div>
            {% component 'mainmenu' %}
        </nav><!-- #mainmenu -->

        <nav id="submenu">
            <div class="brand">klubitus</div>
            {% placeholder submenu default %}
            {% endplaceholder %}
        </nav><!-- #submenu -->

        {% if placeholder('sidebar') %}

            <div id="content content--sidebar">
                {% partial 'topbar' %}

                {% page %}
            </div><!-- #content -->

            <div id="sidebar">
                {% placeholder sidebar %}
            </div><!-- #sidebar -->

        {% else %}

            <div id="content">
                {% partial 'topbar' %}

                {% page %}
            </div><!-- #content -->

        {% endif %}

        <script src="{{ [
            '@jquery',
            '@framework',
            '@framework.extras',
            'assets/js/app.js'
        ]|theme }}"></script>

        {% scripts %}
    </body>
</html>
