description = "Default layout"

[session]
security = "all"

[googleTracker]

[localePicker]
==
<?php
function onInit() {
    Event::listen('cms.page.display', function($controller, $url, $page, $result) {
        if (Request::ajax() && is_object($result) && Flash::any()) {
            $content = $result->original;
            $content['#alerts'] = $controller->renderPartial('alerts');
            Flash::purge();

            $result->setContent($content);

            return $result;
        }
    });
}
?>
==
<!doctype html>
<html lang="{{ activeLocale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text-html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="{{ [
            'assets/css/normalize.css'
        ]|theme }}" rel="stylesheet">
        <link href="{{ [
            'assets/css/app.css'
        ]|theme }}" rel="stylesheet">

        {% styles %}

        {% placeholder head %}

        <title>{{ this.page.title }}</title>
    </head>

    <body>

        <nav id="mainmenu">
            <div class="wrapper">
                {% partial 'mainmenu' %}
            </div>
        </nav><!-- #mainmenu -->

        {% if placeholder('submenu') %}
        <nav id="submenu">
            <div class="brand">
                klubitus<br>
                <small>Est. 2000</small>
            </div>

            {% placeholder submenu %}
        </nav><!-- #submenu -->
        {% endif %}

        <div id="content" class="content {{ placeholder('sidebar') ? 'content--sidebar' }}">
            {% partial 'topbar' %}

            <ul id="alerts">
                {% partial 'alerts' %}
            </ul>

            <main role="main">
                {% page %}
            </main><!-- #page -->
        </div><!-- #content -->

        {% if placeholder('sidebar') %}
            <div id="sidebar">
                {% placeholder sidebar %}
            </div><!-- #sidebar -->
        {% endif %}

        <script src="{{ [
            '@jquery',
            '@framework',
            '@framework.extras',
            'assets/js/app.js'
        ]|theme }}"></script>

        {% component 'googleTracker' %}

        {% scripts %}
    </body>
</html>
