description = "Default layout"

[staticMenu mainmenu]
code = "main-menu"

[session]
security = "all"
==
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text-html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <link href="{{ [
            'assets/css/app.css'
        ]|theme }}" rel="stylesheet">

        {% styles %}

        {% placeholder head %}

        <title>{{ this.page.title }}</title>
    </head>

    <body>

        <nav id="mainmenu">
            {% component 'mainmenu' %}
        </nav><!-- #mainmenu -->

        <nav id="submenu">
            {% placeholder submenu default %}
            {% endplaceholder %}
        </nav><!-- #submenu -->

        {% if placeholder('sidebar') %}

            <div id="content content--sidebar">
                {% page %}
            </div><!-- #content -->

            <div id="sidebar">
                {% placeholder sidebar %}
            </div><!-- #sidebar -->

        {% else %}

            <div id="content">
                {% page %}
            </div><!-- #content -->

        {% endif %}

        <script src="{{ [
            '@jquery',
            '@framework',
            '@framework.extras',
            'assets/js/app.js'
        ]|theme }}"></script>

        {% scripts %}
    </body>
</html>